<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../static/img/coollogo_com-5008664.png"/>
    <link href="../../static/css/reset.css" rel="stylesheet" type="text/css" th:href="@{/static/css/reset.css}">
    <link href="../../static/css/base.css" rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <link href="../../static/css/font.css" rel="stylesheet" type="text/css" th:href="@{/static/css/font.css}">
    <link href="../../static/icon/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" th:href="@{/static/icon/fontawesome/css/all.min.css}">
    <title>Admin Page</title>
</head>
<body class="background-signup-loggin">
<div class="oval">
    <div class="admin_page__menu">
        <h1>Hello Admin</h1>
        <div class="admin_page__menu_list">
            <a class="admin_page__menu_item" href="/vinyllist">
                <img src="../../static/img/music-album.png" alt="Vinyl">
                <p>Vinyl Manager</p>
            </a>
            <a class="admin_page__menu_item" href="/tracklist">
                <img src="../../static/img/music.png" alt="Track">
                <p>Track Manager</p>
            </a>
            <a class="admin_page__menu_item" href="/orderlist">
                <img src="../../static/img/box.png" alt="Order">
                <p>Order Manager</p>
            </a>
            <a class="admin_page__menu_item" href="/customerlist">
                <img src="../../static/img/shopper.png" alt="Customer">
                <p>Customer Manager</p>
            </a>
            <a class="admin_page__menu_item" href="/artistlist">
                <img src="../../static/img/musician.png" alt="Artist">
                <p>Artist Manager</p>
            </a>
            <a class="admin_page__menu_item" href="/genrelist">
                <img src="../../static/img/karaoke.png" alt="Genre">
                <p>Genre Manager</p>
            </a>
            <a class="admin_page__menu_item" href="/admin-logout">
                <img src="../../static/img/logout.png" alt="Log Out">
                <p>Log Out</p>
            </a>
        </div>
    </div>
</div>
</body>
</html>