<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hãng Đĩa Trọng Đại</title>
  <link rel="icon" type="image/png" href="../static/img/coollogo_com-5008664.png"/>
  <link href="../static/css/reset.css" rel="stylesheet" type="text/css" th:href="@{/static/css/reset.css}">
  <link href="../static/css/base.css" rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
  <link href="../static/css/grid.css" rel="stylesheet" type="text/css" th:href="@{/static/css/grid.css}">
  <link href="../static/css/font.css" rel="stylesheet" type="text/css" th:href="@{/static/css/font.css}">
  <link href="../static/icon/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" th:href="@{/static/icon/fontawesome/css/all.min.css}">
</head>
<body>
<div class="header">
  <div class="grid wide">
    <div class="header__nav">
      <div class="header__logo_menu">
        <div class="header__logo">
          <a href="/">
            <img src="../static/img/logo.png" th:src="@{/static/img/logo.png}" alt="DTRecords" >
          </a>
        </div>
        <div class="header__menu" id="product_menu">
          <a href="/all-vinyl-product?sortOption=vinylIDdesc" class="header__menu-link">
            Cửa Hàng
            <i class="fas fa-angle-down" id="product_menu__icon"></i>
          </a>
          <div class="product_menu">
            <ul class="product_menu__selectors">
              <li class="product_menu__selector">
                <ul class="product_menu__list">
                  <li>
                    <h2 class="product__selector__header">Sản phẩm</h2>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/justAdded" class="product__selector">Sản phẩm mới</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/under10Dollars?sortOption=vinylIDdesc" class="product__selector">Dưới $10</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/under20Dollars?sortOption=vinylIDdesc" class="product__selector">Dưới $20</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/under30Dollars?sortOption=vinylIDdesc" class="product__selector">Dưới $30</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/over30Dollars?sortOption=vinylIDdesc" class="product__selector">Trên $30</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product?sortOption=vinylIDdesc" class="product__selector font_weight_500">Tất cả đĩa than</a>
                  </li>
                </ul>
              </li>
              <li class="product_menu__selector">
                <ul class="product_menu__list">
                  <li>
                    <h2 class="product__selector__header">Thể Loại</h2>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/popVinyl?sortOption=vinylIDdesc" class="product__selector">Pop</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/rockVinyl?sortOption=vinylIDdesc" class="product__selector">Rock</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/r&bVinyl?sortOption=vinylIDdesc" class="product__selector">R&B</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/hiphopVinyl?sortOption=vinylIDdesc" class="product__selector">HipHop</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product/countryVinyl?sortOption=vinylIDdesc" class="product__selector">Country</a>
                  </li>
                  <li>
                    <a href="/all-vinyl-product?sortOption=vinylIDdesc" class="product__selector font_weight_500">Xem toàn bộ thể loại</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__menu" id="blog_menu">
          <a href="" class="header__menu-link">
            Bản Tin Trọng Đại
            <i class="fas fa-angle-down"  id="blog_menu__icon"></i>
          </a>
          <div class="product_menu">
            <ul class="product_menu__selectors">
              <li class="product_menu__selector">
                <h2 class="blogs__selector__header"><a href="" class="product__selector__header">News!</a></h2>
              </li>
              <li class="product_menu__selector">
                <h2 class="blogs__selector__header"><a href="" class="product__selector__header">Top100!</a></h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__account_cart">
        <th:block th:if="${setCustomer}!=''">
          <div class="header__account">
            <a href="/" class="header__account__link">
              <i class="fas fa-user-circle"></i>
            </a>
            <ul class="header__account__category">
              <li class="header__account__category-list">
                <p class="header__account__title">Đăng nhập với tư cách:</p>
                <p class="header__account__name" th:text="${setCustomer}"></p>
              </li>
              <li class="header__account__category-list">
                <a href="/showEditForm">Chỉnh sửa hồ sơ</a>
              </li>
              <li class="header__account__category-list">
                <a href="/">Lịch sử mua hàng</a>
              </li>
              <li class="header__account__category-list">
                <a href="/log-out">Đăng xuất</a>
              </li>
            </ul>
          </div>
        </th:block>
        <th:block th:if="${setCustomer}==''">
          <a href="/signup" class="button__balck__with-a">Đăng Ký</a>
          <a href="/showlogin" class="button__blue__with-a">Đăng Nhập</a>
        </th:block>
        <div class="header__cart">
          <a href="/toCart" class="header__cart_icon">
            <i class="fas fa-shopping-cart"></i>
            <div class="cart__quantity" th:if="not ${selectedVinyl.isEmpty()}" th:text="${quantity}"></div>
          </a>
          <div class="header__shopping_cart">
            <h2 class="shopping_cart__header">Giỏ Hàng Của Bạn</h2>
            <div class="shopping_cart_view">
              <div class="shopping_cart_list" th:if="not ${selectedVinyl.isEmpty()}">
                <th:block th:each="vinyl: ${selectedVinyl}">
                  <div class="shopping_cart_item">
                    <div class="shopping_cart_item_img">
                      <img th:src="@{/static/img/vinylImg/__${vinyl.getKey().name}__-__${vinyl.getKey().artist.name}__/__${vinyl.getKey().img1}__}" th:alt="${vinyl.getKey().name}">
                    </div>
                    <div class="shopping_cart_item_infor_delete">
                      <div class="shopping_cart_item_infor">
                        <div class="shopping_cart_item_title">
                          <p class="shopping_cart_item_name" th:text="${vinyl.getKey().name}"></p>
                          <p class="shopping_cart_item_artistName" th:text="${vinyl.getKey().artist.name}"></p>
                          <p style="color: var(--gray-coler); margin: 4px 0">In Stock</p>
                        </div>
                        <div class="shopping_cart_item_quantity_price">
                          <p class="shopping_cart_item_quantity" th:text="'Q: ' + ${vinyl.getValue()}"></p>
                          <p th:if="${vinyl.getKey().onSale}==false" class="shopping_cart_item_price" th:text="'P: '+${vinyl.getValue() * vinyl.getKey().price}+'$'"></p>
                          <p th:if="${vinyl.getKey().onSale}==true" class="shopping_cart_item_price" th:text="'P: '+${vinyl.getValue() * vinyl.getKey().salePrice}+'$'"></p>
                        </div>
                      </div>
                      <div class="shopping_cart_item_delete">
                        <a th:href="@{/remove/editCustomer/__${vinyl.getKey().vinylID}__}"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </th:block>
              </div>
              <p th:if="${selectedVinyl.isEmpty()}" class="shopping_cart_empty">Bạn không có sản phẩm nào trong giỏ hàng.</p>
            </div>
            <a href="/toCart" th:if="not ${selectedVinyl.isEmpty()}" class="button__red__with-a">Đi đến giỏ hàng của bạn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid wide">
    <div th:unless="${setCustomer}">
      <h1>Bạn chưa đăng nhập</h1>
    </div>
    <div class="edit_customer__form" th:if="${setCustomer}">
      <form th:action="@{/editCustomerInfor}" th:object="${customer}" method="post" class="admin_page__menu__manager" style="width: 60%!important;">
        <h1>Chỉnh sửa thông tin</h1>
        <th:block th:if="${message}">
          <p th:text="${message}"></p>
        </th:block>
        <label>
          <input th:type="hidden" name="id" th:field="*{userID}">
        </label>
        <label class="has-float-label">
          <input class="sign_up__input" label="User Name" required type="text" th:field="*{username}">
          <span>Tên Người Dùng *</span>
        </label>

        <label class="has-float-label">
          <input class="sign_up__input" id="passwordInput" label="Password" required type="text" th:field="*{password}">
          <span>Mật Khẩu *</span>
        </label>

        <div class="width_100" style="display: flex; justify-content: space-between; align-items: center">
          <label class="has-float-label width_45" style="flex: unset">
            <input class="sign_up__input" label="Name" required type="text" th:field="*{name}">
            <span>Họ Tên *</span>
          </label>

          <label class="has-float-label width_45" style="flex: unset">
            <input class="sign_up__input" label="Phone" required type="text" th:field="*{phonenumber}">
            <span>Số Điện Thoại *</span>
          </label>
        </div>

        <label class="has-float-label">
          <input class="sign_up__input" label="Email" required type="email" th:field="*{email}">
          <th:block th:unless="${messageEmailError}">
            <span>Email *</span>
          </th:block>
          <th:block th:if="${messageEmailError}">
            <span>Email * <p class="message_Email_Error" th:text="${messageEmailError}"></p></span>
          </th:block>
        </label>

        <label class="has-float-label">
          <input class="sign_up__input" label="Address" required type="text" th:field="*{address}">
          <span>Địa Chỉ *</span>
        </label>
        <input class="button_Login_Signup" type="submit" value="Cập nhật thông tin">
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <div class="grid wide">
    <div class="row sm-gutter app-content">
      <div class="col l-3">
        <div class="footer__part">
          <h2>Tài khoản</h2>
          <ul>
            <li><a class="footer_link" href="">Quản lý tài khoản</a></li>
            <li><a class="footer_link" href="">Lịch sử mua hàng</a></li>
            <li><a class="footer_link" href="">Những sản phẩm yêu thích</a></li>
          </ul>
        </div>
      </div>
      <div class="col l-3">
        <div class="footer__part">
          <h2>Hỗ trợ</h2>
          <ul>
            <li><a class="footer_link" href="">Giải đáp thắc mắc</a></li>
          </ul>
        </div>
      </div>
      <div class="col l-3">
        <div class="footer__part">
          <h2>DTRecords</h2>
          <ul>
            <li><a class="footer_link" href="">Giới thiệu</a></li>
            <li><a class="footer_link" href="">Người sáng lập</a></li>
            <li><a class="footer_link" href="">Đội ngũ phục vụ</a></li>
          </ul>
        </div>
      </div>
      <div class="col l-3">
        <div class="footer__part">
          <h2>Liên hệ</h2>
          <ul>
            <li><a class="footer_link" href="https://www.facebook.com/dai.tran.99/">Facebook <i class="fab fa-facebook-f"></i></a></li>
            <li><a class="footer_link" href="https://www.instagram.com/tdai308/">Instagram <i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__thanks">
      <div class="footer__logo">
        <img src="../static/img/coollogo_com-1546772.png" alt="DTRECORDS">
      </div>
      <div class="footer__thanks_and_year">
        <i class="far fa-copyright"></i>2077 - bản quyền của Trần Trọng Đại - Hãng Đĩa Trọng Đại - DTRecords.<br>Shout out to Merchbar.
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/static/js/index.js}" src="../static/js/index.js"></script>
<script>
  let passwordInput = document.getElementById("passwordInput");
  if (passwordInput.type === "text") {
    passwordInput.type = "password";
  } else {
    passwordInput.type = "text";
  }
</script>
</html>
