<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/img/coollogo_com-5008664.png"/>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css" th:href="@{/static/css/reset.css}">
    <link href="../static/css/base.css" rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <link href="../static/css/font.css" rel="stylesheet" type="text/css" th:href="@{/static/css/font.css}">
    <link href="../static/icon/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" th:href="@{/static/icon/fontawesome/css/all.min.css}">
    <title>Success</title>
</head>
<body class="background-signup-loggin">
<div class="oval">
    <div class="thank_order min-width__860">
        <h1 class="sign_up__header">Hãng Đĩa Trọng Đại</h1>
        <h2>Cảm ơn vì đã mua hàng tại Hãng Đĩa Trọng Đại</h2>
        <i class="fas fa-check fa-5x" style="color: #58EA2F"></i>
        <p>Đơn hàng của bạn đã được đặt thành công và đang được xử lý. Bạn sẽ nhận được mail xác nhận đơn hàng và chúng mình sẽ gọi điện để xác nhận đơn hàng.</p>
        <a href="/">Trở về trang chủ</a>
    </div>
</div>
</body>
<script>
    setTimeout(function () {
        window.location.replace("/");
    },5000);
</script>
</html>