<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../../static/img/coollogo_com-5008664.png"/>
    <link href="../../../static/css/reset.css" rel="stylesheet" type="text/css" th:href="@{/static/css/reset.css}">
    <link href="../../../static/css/base.css" rel="stylesheet" type="text/css" th:href="@{/static/css/base.css}">
    <link href="../../../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <link href="../../../static/css/font.css" rel="stylesheet" type="text/css" th:href="@{/static/css/font.css}">
    <link href="../../../static/icon/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" th:href="@{/static/icon/fontawesome/css/all.min.css}">
    <title>Edit track</title>
</head>
<body class="background-signup-loggin">
<div class="oval" style="z-index: -1"></div>
<form th:action="@{/edit-track}" th:object="${track}" method="post" class="admin_page__menu__manager" style="width: 60%!important;">
    <h1>Chỉnh sửa thông tin bài hát</h1>
    <a href="/tracklist" class="button__blue__with-a">Danh sách bài hát</a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <label>
        <input th:type="hidden" name="id" th:field="*{trackID}">
    </label>
    <label class="has-float-label">
        <input class="sign_up__input" label="name" required type="text" th:field="*{name}"/>
        <span>Tên *</span>
    </label>
    <label class="has-float-label">
        <input class="sign_up__input" label="artistName" required type="text" th:field="*{artistName}"/>
        <span>Tên nghệ sĩ *</span>
    </label>
    <label class="has-float-label">
        <select name="vinyl" class="sign_up__input">
            <option th:each="v : ${vinyllist}"
                    th:value="${v.vinylID}"
                    th:text="${v.name}"
                    th:selected="(${v.vinylID} == *{vinyl.vinylID})"></option>
        </select>
        <span>Album *</span>
    </label>
    <input class="button_Login_Signup" type="submit" value="Cập nhật thông tin bài hát">
</form>
</body>
</html>